@import 'common';

.board.media {
    .category {
        margin-top: 60px;
    }
    .media-list {
        td:nth-of-type(1),
        td:nth-of-type(3),
        td:nth-of-type(4) {
            width: 100px;
        }
    }
    .media-view {
        overflow: hidden;
        margin-bottom: 200px;
        article {
            > header {
                position: relative;
                border-top: 2px solid #333;
                border-bottom: 1px solid #333;
                h3 {
                    padding-top: 14px;
                    padding-bottom: 14px;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: 40px;
                    margin-right: 150px;
                    @extend .font-noto;
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 20px;
                }
                time {
                    position: absolute;
                    top: 0;
                    right: 40px;
                    height: 48px;
                    padding-top: 14px;
                    padding-bottom: 14px;
                    color: #333;
                }
            }
            > .details {
                border-bottom: 1px solid #ccc;
                padding: 40px;
                > div {
                    font-size: 13px;
                    line-height: 22px;
                }
            }
        }
        .util {
            float: left;
            margin-top: 20px;
            margin-left: 40px;
            li {
                display: inline-block;
                margin-right: 10px;
                a {
                    padding-left: 15px;
                    color: #333;
                    background-repeat: no-repeat;
                    background-position: 0 50%;
                }
                &.edit {
                    a {
                        background-image: url(/images/sub/ico_pancil.gif);
                    }
                }
                &.delete {
                    a {
                        background-image: url(/images/sub/ico_trash.gif);
                    }
                }
                &.reply {
                    a {
                        background-image: url(/images/sub/ico_reply.gif);
                    }
                }
            }
        }
        .btn-list {
            float: right;
            width: 90px;
            height: 40px;
            margin-top: 20px;
            background-color: #000;
            color: #fff;
            font-size: 13px;
            line-height: 28px;
        }
    }
}