@import 'common';

// 반응형 무효화
.container {
    width: 1200px !important;
    min-width: 1200px !important;
}

// 공통
html {
    min-width: 1200px;
}
body {
    min-width: 1200px;
    @extend .font-maven;
}
ul, ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

// 상단
#topnav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1200px;
    height: 40px;
    background-color: #000;
    > .container {
        position: relative;
    }
    .sites {
        li {
            float: left;
            width: 116px;
            height: 40px;
            text-align: center;
            vertical-align: middle;
            margin-right: 3px;
            a {
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                img {
                    display: block;
                    margin: 0 auto;
                }
                &:hover, &:focus {
                    background-color: #FDDC16;
                }
            }
            &:nth-of-type(1) {
                a {
                    padding-top: 16px;
                }
            }
            &:nth-of-type(2) {
                a {
                    padding-top: 14px;
                }
            }
            &.active {
                a {
                    background-color: #FDDC16;
                }
            }
        }
    }
    .member {
        position: absolute;
        top: 0;
        right: 160px;
        li {
            float: left;
            font-weight: bold;
            a {
                font-size: 11px;
                color: #777;
                line-height: 40px;
            }
            &::before {
                margin-left: 5px;
                margin-right: 5px;
                content: '·';
            }
            &:nth-of-type(1)::before {
                content: "";
            }
        }
    }
    .sns {
        position: absolute;
        top: 0;
        right: 15px;
        li {
            float: left;
            border-left: 1px solid black;
        }
    }
}
#header {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    min-width: 1200px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.95);
    > .container {
        position: relative;
    }
    .logo {
        float: left;
        margin: 18px 0 0;
        img {
            display: block;
        }
    }
    .menu {
        margin-left: 245px;
        > ul {
            > li {
                position: relative;
                float: left;
                height: 60px;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-right: 70px;
                > a {
                    display: block;
                    color: #333;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 20px;
                }
                > ul {
                    display: none;
                    position: absolute;
                    top: 80px;
                    width: 100%;
                    > li {
                        > a {
                            font-size: 12px;
                            color: #333;
                            line-height: 24px;
                            font-weight: bold;
                            text-decoration: none;
                            &:hover, &:focus {
                                padding-left: 12px;
                                background-image: url(/images/ico_diagonal.png);
                                background-repeat: no-repeat;
                                background-position: 0 50%;
                                color: #ffcb05;
                            }
                        }
                        &.active {
                            > a {
                                padding-left: 12px;
                                background-image: url(/images/ico_diagonal.png);
                                background-repeat: no-repeat;
                                background-position: 0 50%;
                                color: #ffcb05;
                            }
                        }
                    }
                }
                &:last-child {
                    padding-right: 90px;
                }
            }
        }
    }
    .search {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 180px;
        height: 30px;
        background-color: blue;
        form {
            position: relative;
            padding-right: 40px;
            .form-control {
                border-radius: 0;
                height: 30px;
                border: 0;
                box-shadow: none;
                background-color: #efefef;
                &:focus {
                    box-shadow: none;
                }
            }
            .btn {
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 30px;
                padding: 0;
                border-radius: 0;
                background-color: #efefef;
                line-height: 30px;
                font-size: 18px;
                font-weight: 100;
                text-align: center;
                &:active {
                    box-shadow: none;
                }
            }
        }
    }
    &.menu-opened {
        height: 275px;
        .menu {
            > ul {
                > li {
                    > ul {
                        display: block;
                    }
                }
            }
        }
    }
}

// 중단(컨텐츠)
#content {
    margin-top: 100px;
    min-height: 500px;
}

// 하단
#footer {
    background-color: #242424;
    .logo {
        margin-top: 60px;
        margin-bottom: 35px;
    }
    .bar {
        display: block;
        width: 0;
        height: 95px;
        margin: 5px auto 0;
        border-left: 1px solid black;
        border-right: 1px solid #343434;
    }
    .information {
        margin-bottom: 65px;
        .introduce {
            color: #fff;
            @extend .font-noto;
            font-size: 15px;
            font-weight: 100;
            strong {
                font-weight: normal;
            }
            p {
                margin-top: 10px;
                margin-bottom: 0;
                font-size: 12px;
                color: #888;
            }
        }
        .business {
            margin-bottom: 25px;
            color: #666;
            dl {
                margin-bottom: 0;
            }
            dt, dd {
                display: inline;
                font-weight: normal;
                @extend .font-noto;
                font-size: 12px;
            }
            dt::after {
                padding-left: 3px;
                content: ':';
                font-weight: bold;
            }
            dt::before {
                padding-right: 5px;
                content: '·';
                font-weight: bold;
            }
            dt:nth-of-type(1)::before {
                padding-right: 0;
                padding-left: 0;
                content: '';
            }
            address {
                display: inline;
                letter-spacing: -1px;
            }
            a {
                color: #666;
            }
        }
        .policy {
            li {
                display: inline-block;
                margin-right: 10px;
                a {
                    font-size: 12px;
                    color: #999;
                }
            }
        }
        .contact {
            strong {
                display: block;
                font-size: 40px;
                letter-spacing: -2px;
                line-height: 32px;
                color: #aaa;
                text-indent: -2px;
            }
            dl {
                margin-top: 20px;
                margin-bottom: 0;
            }
            dt, dd {
                display: inline;
                font-weight: normal;
                font-size: 13px;
                color: #666;
            }
            dt::after {
                padding-left: 3px;
                content: ':';
            }
            p {
                font-size: 12px;
                color: #666;
                letter-spacing: -1px;
            }
        }
    }
    .copyright {
        background-color: #181818;
        p {
            margin-top: 25px;
            margin-bottom: 25px;
            font-size: 12px;
            color: #888;
            i {
                color: #555;
                font-style: normal;
            }
        }
    }
}