@import 'common';

.event {
    .page-header {
        margin-bottom: 60px;
        border-bottom: 0;
    }
    .category {
        margin-bottom: 60px;
    }
    .event-list {
        li {
            margin-bottom: 30px;
            a {
                position: relative;
                display: block;
                figure {
                    overflow: hidden;
                    position: relative;
                    figcaption {
                        display: table;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 60px;
                        width: 100%;
                        background-color: rgba(0, 0, 0, .8);
                        p {
                            display: table-cell;
                            margin-bottom: 0;
                            text-align: center;
                            vertical-align: middle;
                            font-size: 14px;
                            color: #fff;
                            line-height: 20px;
                            @extend .font-noto;
                        }
                    }
                }
                .closed-cover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, .8);
                    @extend .font-noto;
                    font-size: 14px;
                    color: #fff;
                    text-align: center;
                    padding-top: 160px;
                    padding-bottom: 160px;
                    line-height: 30px;
                }
            }
        }
    }
}

.new-arrivals {
    .page-header {
        border-bottom: 0;
    }

    .visual {
        margin-bottom: 90px;
    }

    .type {
        h3 {
            margin-bottom: 45px;
            @extend .font-abril;
            font-size: 30px;
            background-image: url(/images/bg_section.gif);
            background-position: 100% 50%;
            background-repeat: no-repeat;
            span {
                padding-right: 20px;
                background-color: #fff;
            }
        }
        &.set-type {
            margin-bottom: 80px;
        }
    }
}