.btn {
  border-radius: 0;
  border: 0; }

.form-control {
  border-radius: 0;
  -webkit-transition: none;
  transition: none;
  box-shadow: none; }
  .form-control:focus {
    box-shadow: none; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.font-abril, #content .page-header .title, #content.main .section-header .heading, #content.sub .confirm-pw .section-header .heading {
  font-family: 'Abril Fatface', cursive; }

.font-noto, body, #content.sub .product-view .summary .container .section-header h3 {
  font-family: 'Noto Sans', sans-serif; }

.font-maven, #header .quick ul li a, #content.sub.review .page-header .title {
  font-family: 'Maven Pro', sans-serif; }

.font-color, body, a, a:hover, a:focus {
  color: #333; }

body {
  font-size: 12px;
  background-color: #181818; }

a:hover, a:focus {
  text-decoration: none; }

p {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

dl {
  margin-bottom: 0; }

.container {
  padding-left: 20px;
  padding-right: 20px; }
  .container .row {
    margin-left: -10px;
    margin-right: -10px; }
    .container .row > .col-xs-1, .container .row > .col-xs-10, .container .row > .col-xs-11, .container .row > .col-xs-12, .container .row > .col-xs-2, .container .row > .col-xs-3, .container .row > .col-xs-4, .container .row > .col-xs-5, .container .row > .col-xs-6, .container .row > .col-xs-7, .container .row > .col-xs-8, .container .row > .col-xs-9 {
      padding-left: 10px;
      padding-right: 10px; }

.section-header {
  /*
  margin-left: 20px;
  margin-right: 20px;
  */
  text-align: center; }
  .section-header .heading {
    margin: 0;
    font-size: 25px;
    color: #333;
    letter-spacing: -1px; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
  #header .top {
    position: relative;
    height: 68px;
    padding-left: 200px;
    background-color: #111; }
    #header .top .btn-menu {
      position: absolute;
      top: 18px;
      left: 10px;
      width: 35px;
      height: 30px;
      padding: 5px;
      background-color: transparent; }
      #header .top .btn-menu .bar {
        display: block;
        width: 100%;
        height: 3px;
        margin-top: 5px;
        background-color: #fff; }
        #header .top .btn-menu .bar:first-child {
          margin-top: 0; }
    #header .top .logo {
      position: absolute;
      top: 25px;
      left: 54px;
      width: 133px;
      height: 18px;
      margin: 0; }
      #header .top .logo img {
        display: block; }
    #header .top .search {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 175px;
      height: 41px;
      border-bottom: 1px solid #fff; }
      #header .top .search .form-control {
        float: left;
        width: 135px;
        height: 40px;
        border: 0;
        background-color: transparent;
        color: #fff; }
      #header .top .search .btn-search {
        float: right;
        width: 40px;
        height: 40px;
        padding: 0;
        background-color: transparent; }
        #header .top .search .btn-search img {
          width: 21px; }
  #header .quick {
    border-top: 1px solid rgba(139, 139, 139, 0.4);
    border-bottom: 3px solid rgba(139, 139, 139, 0.4);
    background-color: #fff; }
    #header .quick ul {
      overflow: hidden; }
      #header .quick ul li {
        float: left;
        width: 25%;
        height: 44px;
        line-height: 44px;
        border-left: 1px solid rgba(139, 139, 139, 0.4); }
        #header .quick ul li:first-child {
          border-left: 0; }
        #header .quick ul li a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          color: #333;
          font-size: 14px;
          font-weight: bold; }

#content {
  margin-top: 116px;
  background-color: #fff; }
  #content .page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: 0; }
    #content .page-header .title {
      padding: 40px 0;
      margin: 0;
      text-align: center; }
  #content .overview {
    margin-bottom: 20px; }
    #content .overview p img {
      margin: 0 auto; }
  #content .category {
    margin-bottom: 20px;
    text-align: center; }
    #content .category ul li {
      display: inline-block; }
      #content .category ul li a {
        display: block;
        min-width: 60px;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 5px;
        background-color: #f5f5f5;
        line-height: 30px;
        border: 1px solid #eee; }
      #content .category ul li.active a {
        background-color: #ffde16;
        border-color: #ffde16; }
  #content .sorter {
    text-align: center; }
    #content .sorter .btn-group .btn {
      background-color: transparent;
      box-shadow: none; }
    #content .sorter .btn-group .dropdown-menu {
      border-radius: 0;
      box-shadow: none;
      border-color: #999;
      min-width: 110px;
      text-align: center; }
      #content .sorter .btn-group .dropdown-menu li a {
        padding-left: 5px;
        padding-right: 5px; }
  #content .product-list li {
    margin-bottom: 30px; }
    #content .product-list li:nth-of-type(odd) {
      clear: both; }
  #content .product-list .title, #content .product-list .price {
    text-align: center; }
  #content .product-list .title {
    margin-top: 10px;
    margin-bottom: 10px; }
  #content .paging {
    margin-bottom: 60px;
    text-align: center; }
    #content .paging .pagination {
      margin: 0 auto; }
      #content .paging .pagination li a {
        margin: 0 1px;
        border-radius: 0;
        border-color: #ccc;
        color: #555;
        font-size: 14px; }
        #content .paging .pagination li a .glyphicon {
          font-size: 11px; }
      #content .paging .pagination li.active a {
        background-color: #ffde16;
        border-color: #ffde16;
        color: #000; }

#footer {
  padding-bottom: 70px; }
  #footer .quick-nav {
    padding: 20px 15px;
    border-top: 1px solid rgba(106, 106, 106, 0.25);
    border-bottom: 1px solid rgba(106, 106, 106, 0.25);
    background-color: #f0f0f0; }
    #footer .quick-nav ul {
      overflow: hidden; }
      #footer .quick-nav ul li {
        float: left;
        width: 25%;
        padding: 10px;
        text-align: center; }
        #footer .quick-nav ul li p {
          height: 65px;
          padding-top: 20px;
          padding-bottom: 20px;
          margin-bottom: 5px;
          background-color: #242424; }
          #footer .quick-nav ul li p img {
            display: block;
            height: 25px;
            margin: 0 auto; }
  #footer .cs {
    padding: 25px;
    background-color: #fff; }
    #footer .cs a {
      display: block;
      height: 60px;
      background-color: #242424;
      color: #fff;
      font-size: 20px;
      text-align: center; }
      #footer .cs a dl dt, #footer .cs a dl dd {
        display: inline;
        line-height: 60px; }
      #footer .cs a dl dt {
        font-weight: normal;
        vertical-align: top; }
        #footer .cs a dl dt:after {
          padding-left: 10px;
          padding-right: 5px;
          content: '|';
          font-size: 10px;
          font-weight: 100;
          vertical-align: top; }
      #footer .cs a dl dd {
        font-family: 'Arial';
        font-size: 22px; }
  #footer .information {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #242424;
    color: #666; }
    #footer .information a {
      color: #666; }
    #footer .information h2 {
      margin: 0 0 15px 0;
      text-align: center; }
      #footer .information h2 img {
        display: block;
        margin: 0 auto; }
    #footer .information .company {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 15px;
      text-align: center; }
      #footer .information .company dl {
        display: inline-block; }
        #footer .information .company dl dt, #footer .information .company dl dd {
          display: inline; }
        #footer .information .company dl dt {
          margin-left: 5px;
          font-weight: normal; }
          #footer .information .company dl dt:after {
            padding-left: 3px;
            content: ':'; }
        #footer .information .company dl dd {
          margin-right: 5px; }
          #footer .information .company dl dd address {
            display: inline; }
    #footer .information .policy ul {
      overflow: hidden;
      padding-left: 10px;
      padding-right: 10px; }
      #footer .information .policy ul li {
        float: left;
        width: 25%;
        padding-left: 10px;
        padding-right: 10px; }
        #footer .information .policy ul li a {
          display: block;
          height: 40px;
          padding-top: 11px;
          padding-bottom: 11px;
          border: 1px solid #444;
          text-align: center;
          line-height: 16px; }
        #footer .information .policy ul li:nth-of-type(3) a {
          padding-top: 4px;
          padding-bottom: 4px; }
  #footer .copyright {
    height: 66px;
    padding-top: 15px;
    background-color: #181818; }
    #footer .copyright p {
      font-size: 11px;
      color: #888;
      text-align: center; }
      #footer .copyright p i {
        color: #555;
        font-style: normal; }
  #footer .quick {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #242424;
    z-index: 990; }
    #footer .quick ul {
      overflow: hidden; }
      #footer .quick ul li {
        float: left;
        width: 20%;
        height: 70px;
        border-left: 1px solid #4d4d4d;
        text-align: center; }
        #footer .quick ul li:first-child {
          border-left: 0; }
        #footer .quick ul li a {
          display: block;
          width: 100%;
          height: 100%;
          color: #888;
          font-size: 12px; }
          #footer .quick ul li a p {
            height: 30px;
            margin-top: 15px;
            margin-bottom: 0; }
            #footer .quick ul li a p img {
              vertical-align: bottom; }

#content.main .section-header {
  margin-bottom: 30px; }
  #content.main .section-header .heading {
    letter-spacing: 0; }
#content.main .visual .carousel-indicators {
  bottom: 20px; }
  #content.main .visual .carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border-width: 2px;
    border-color: #5a5a5a; }
    #content.main .visual .carousel-indicators li.active {
      border-color: #fff;
      background-color: transparent; }
#content.main .visual .item img {
  margin: 0 auto; }
#content.main .whats {
  padding-top: 30px;
  padding-bottom: 40px;
  background-image: url(/design/wonderbra/mobile/images/main/bg_whats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  #content.main .whats .section-header p {
    color: #333; }
  #content.main .whats #whats-carousel .item {
    text-align: center; }
    #content.main .whats #whats-carousel .item .container {
      padding-left: 50px;
      padding-right: 50px; }
      #content.main .whats #whats-carousel .item .container .img-responsive {
        margin: 0 auto; }
      #content.main .whats #whats-carousel .item .container .title {
        margin-bottom: 5px; }
  #content.main .whats #whats-carousel .carousel-control {
    width: 50px;
    background-image: none; }
#content.main .banner {
  margin-bottom: 30px; }
  #content.main .banner ul {
    overflow: hidden; }
    #content.main .banner ul li {
      float: left;
      width: 50%; }
      #content.main .banner ul li img {
        margin: 0 auto; }
#content.main .arrivals {
  padding-bottom: 10px;
  margin-bottom: 40px;
  background-image: url(/design/wonderbra/mobile/images/bg_arrivals.gif);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  background-color: #ffde16; }
  #content.main .arrivals .product-list li:nth-of-type(1) .title, #content.main .arrivals .product-list li:nth-of-type(1) .price,
  #content.main .arrivals .product-list li:nth-of-type(2) .title,
  #content.main .arrivals .product-list li:nth-of-type(2) .price {
    color: #fff; }
#content.main .best {
  padding-bottom: 10px; }
#content.main .editors {
  padding-bottom: 10px; }
  #content.main .editors .section-header .heading {
    background-image: url(/design/wonderbra/mobile/images/bg_sec_header.png);
    background-position: 0 50%;
    background-repeat: repeat-x;
    background-size: auto 30%; }
    #content.main .editors .section-header .heading span {
      padding-left: 10px;
      padding-right: 10px;
      background-color: #fff; }

#content.sub .search-area {
  margin-bottom: 25px;
  text-align: center; }
  #content.sub .search-area .form-group {
    margin-bottom: 0;
    text-align: center; }
    #content.sub .search-area .form-group select.form-control {
      display: inline-block;
      width: auto;
      border: 0;
      vertical-align: top; }
    #content.sub .search-area .form-group label {
      margin-bottom: 0;
      vertical-align: top; }
      #content.sub .search-area .form-group label input.form-control {
        border: 0;
        background-color: #f3f3f3; }
    #content.sub .search-area .form-group .btn-search {
      width: 30px;
      height: 30px;
      padding: 0;
      background-color: #333;
      color: #fff;
      vertical-align: top; }
#content.sub .table {
  border-top: 2px solid #333;
  margin-bottom: 15px; }
  #content.sub .table thead th {
    height: 30px;
    border-bottom: 1px solid #333;
    text-align: center; }
  #content.sub .table tbody th, #content.sub .table tbody td {
    border-bottom: 1px solid #ccc;
    text-align: center;
    vertical-align: middle; }
    #content.sub .table tbody th.title, #content.sub .table tbody td.title {
      text-align: left; }
  #content.sub .table tbody th {
    text-align: left; }
  #content.sub .table tbody td label {
    margin-bottom: 0; }
  #content.sub .table tbody td .img-responsive {
    margin: 0 auto; }
#content.sub .btn-area .btn {
  min-width: 60px;
  height: 34px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  line-height: 22px; }
  #content.sub .btn-area .btn.btn-cancel {
    background-color: #555; }
#content.sub .product-list {
  margin-top: 30px; }
#content.sub .product-view .summary {
  margin-bottom: 30px; }
  #content.sub .product-view .summary .container .section-header h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
    margin-bottom: 25px; }
  #content.sub .product-view .summary .container dt {
    clear: left;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    letter-spacing: -1px; }
  #content.sub .product-view .summary .container dd {
    margin-bottom: 10px;
    font-size: 14px;
    color: #999; }
  #content.sub .product-view .summary .container .price, #content.sub .product-view .summary .container .added, #content.sub .product-view .summary .container .option {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-top: 20px; }
  #content.sub .product-view .summary .container .price strong {
    color: #f1af00;
    font-size: 16px; }
  #content.sub .product-view .summary .container .option dt {
    line-height: 30px; }
  #content.sub .product-view .summary .container .counter {
    position: relative;
    padding-right: 70px; }
    #content.sub .product-view .summary .container .counter .btn {
      position: absolute;
      top: 0;
      width: 30px;
      height: 30px;
      padding-left: 0;
      padding-right: 0;
      background-color: #666;
      color: #fff; }
    #content.sub .product-view .summary .container .counter .btn-plus {
      right: 35px; }
    #content.sub .product-view .summary .container .counter .btn-minus {
      right: 0; }
  #content.sub .product-view .summary .container .total {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right; }
    #content.sub .product-view .summary .container .total dt, #content.sub .product-view .summary .container .total dd {
      display: inline-block; }
    #content.sub .product-view .summary .container .total dd {
      padding-left: 10px;
      font-size: 20px;
      font-weight: bold;
      color: #f1af00; }
  #content.sub .product-view .summary .container .btn-area {
    overflow: hidden; }
    #content.sub .product-view .summary .container .btn-area p {
      float: left;
      width: 33.33%;
      padding: 0 1px; }
      #content.sub .product-view .summary .container .btn-area p .btn {
        height: 40px;
        padding-left: 0;
        padding-right: 0;
        background-color: gray;
        line-height: 28px;
        font-size: 13px;
        color: #fff; }
        #content.sub .product-view .summary .container .btn-area p .btn.btn-buy {
          background-color: #000; }
#content.sub .product-view .details .section-header h3,
#content.sub .product-view .related .section-header h3,
#content.sub .product-view .review .section-header h3,
#content.sub .product-view .inquiry .section-header h3 {
  padding: 10px 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  text-align: left; }
#content.sub .product-view .details .container {
  padding-top: 20px;
  padding-bottom: 20px; }
  #content.sub .product-view .details .container img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
#content.sub .product-view .related .carousel-indicators {
  top: -30px;
  right: 20px;
  left: auto;
  height: 20px;
  text-align: right; }
  #content.sub .product-view .related .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-color: #5a5a5a;
    border-width: 2px;
    margin: 0 3px;
    opacity: .5; }
    #content.sub .product-view .related .carousel-indicators li.active {
      opacity: 1; }
#content.sub .product-view .related .container {
  margin-top: 20px; }
#content.sub .product-view .related .product-list ul li:nth-of-type(odd) {
  clear: none; }
#content.sub .product-view .review .paging,
#content.sub .product-view .inquiry .paging {
  margin-top: 20px;
  margin-bottom: 30px; }
#content.sub .board-list {
  margin-top: 10px; }
  #content.sub .board-list li {
    border-bottom: 1px solid #ebebeb; }
    #content.sub .board-list li a {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px; }
      #content.sub .board-list li a .date {
        color: #999; }
        #content.sub .board-list li a .date:before {
          padding-left: 5px;
          padding-right: 5px;
          content: '|'; }
      #content.sub .board-list li a .content {
        margin-top: 5px;
        font-size: 14px; }
#content.sub .event-list li {
  margin-bottom: 30px; }
  #content.sub .event-list li figure {
    position: relative; }
    #content.sub .event-list li figure img {
      margin: 0 auto; }
    #content.sub .event-list li figure figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 6px 10px;
      line-height: 18px;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff; }
#content.sub .qna-list {
  margin-bottom: 25px; }
  #content.sub .qna-list tbody td {
    height: 87px; }
    #content.sub .qna-list tbody td.title img {
      margin-right: 5px; }
  #content.sub .qna-list .btn-area p {
    text-align: right; }
#content.sub .qna-write {
  margin-bottom: 50px; }
  #content.sub .qna-write tbody td {
    text-align: left; }
    #content.sub .qna-write tbody td textarea {
      width: 100%;
      min-height: 150px; }
  #content.sub .qna-write tbody .title td label {
    width: 100%; }
  #content.sub .qna-write .btn-area p {
    text-align: right; }
#content.sub .qna-view {
  margin-bottom: 50px; }
  #content.sub .qna-view thead th, #content.sub .qna-view tbody td {
    text-align: left; }
  #content.sub .qna-view .content td {
    height: 150px;
    vertical-align: top; }
  #content.sub .qna-view .attach th {
    font-weight: normal; }
  #content.sub .qna-view .attach td a {
    text-decoration: underline; }
  #content.sub .qna-view .btn-area {
    float: right;
    margin-top: -17px; }
    #content.sub .qna-view .btn-area p {
      text-align: right; }
#content.sub .util-menu li {
  display: inline-block;
  margin-right: 10px; }
#content.sub .reply-write {
  padding: 15px 20px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  background-color: #f9f9f9; }
  #content.sub .reply-write h5 {
    display: inline-block;
    margin: 0;
    color: #777;
    font-size: 12px; }
  #content.sub .reply-write .form-group {
    margin: 0; }
  #content.sub .reply-write .password {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 12px; }
    #content.sub .reply-write .password label {
      color: #555; }
    #content.sub .reply-write .password input.form-control {
      display: inline-block;
      margin-left: 10px;
      width: 80px; }
  #content.sub .reply-write .content {
    position: relative;
    padding-right: 60px; }
    #content.sub .reply-write .content .form-control {
      height: 50px; }
    #content.sub .reply-write .content .btn-area {
      position: absolute;
      top: 0;
      right: 0; }
      #content.sub .reply-write .content .btn-area .btn {
        min-width: auto;
        width: 50px;
        height: 50px;
        padding-left: 0;
        padding-right: 0; }
        #content.sub .reply-write .content .btn-area .btn.btn-submit {
          background-color: #555; }
#content.sub .reply-list {
  margin-bottom: 25px; }
  #content.sub .reply-list ol {
    border-top: 1px solid #ebebeb; }
  #content.sub .reply-list li {
    border-bottom: 1px solid #ebebeb;
    padding-top: 15px;
    padding-bottom: 15px; }
    #content.sub .reply-list li .date {
      color: #999; }
      #content.sub .reply-list li .date:before {
        padding-left: 5px;
        padding-right: 5px;
        content: '|'; }
    #content.sub .reply-list li .content {
      margin-top: 5px; }
    #content.sub .reply-list li .btn-reply {
      display: inline-block; }
    #content.sub .reply-list li.reply-reply {
      padding-left: 50px;
      background-image: url(/design/wonderbra/mobile/images/ico_reply.png);
      background-repeat: no-repeat;
      background-position: 25px 50%;
      background-size: 10px auto; }
#content.sub .confirm-pw {
  padding-top: 25px;
  border-top: 2px solid #333; }
  #content.sub .confirm-pw .section-header .heading {
    margin-top: 25px;
    margin-bottom: 25px; }
  #content.sub .confirm-pw .section-header p {
    color: #999; }
  #content.sub .confirm-pw .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; }
    #content.sub .confirm-pw .form-group label .form-control {
      display: inline-block;
      width: auto;
      max-width: 120px;
      margin-left: 10px; }
  #content.sub .confirm-pw .btn-area {
    margin-bottom: 50px; }
    #content.sub .confirm-pw .btn-area p {
      text-align: center; }
#content.sub .faq-list {
  border-top: 1px solid #ccc;
  margin-bottom: 30px; }
  #content.sub .faq-list li {
    position: relative;
    border-bottom: 1px solid #ccc;
    font-size: 13px; }
    #content.sub .faq-list li i {
      position: absolute;
      left: 10px;
      font-style: normal;
      font-weight: bold; }
    #content.sub .faq-list li .question {
      overflow: hidden;
      display: block;
      height: 40px;
      padding: 10px 10px 10px 40px;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis; }
    #content.sub .faq-list li .answer {
      display: none;
      padding: 20px 10px 20px 40px;
      color: #777; }
      #content.sub .faq-list li .answer i {
        color: #ffde16; }
    #content.sub .faq-list li.active .question {
      background-color: #ffde16; }
    #content.sub .faq-list li.active .answer {
      display: block; }
#content.sub .review-list {
  margin-bottom: 25px; }
  #content.sub .review-list tbody td {
    height: 87px; }
    #content.sub .review-list tbody td.title img {
      margin-right: 5px; }
  #content.sub .review-list .btn-area p {
    text-align: right; }
#content.sub .best-review {
  margin-bottom: 40px; }
  #content.sub .best-review .review-product {
    display: block;
    margin-bottom: 10px; }
    #content.sub .best-review .review-product figcaption {
      margin-top: 10px; }
      #content.sub .best-review .review-product figcaption .title {
        font-size: 14px; }
      #content.sub .best-review .review-product figcaption .writer {
        color: #777; }
  #content.sub .best-review .review-article figure > img {
    float: left;
    margin-top: 2px;
    margin-right: 10px; }
#content.sub .review-benefit {
  margin-bottom: 30px; }
  #content.sub .review-benefit .img-responsive {
    margin: 0 auto; }
#content.sub .bought-product {
  margin-bottom: 25px; }
#content.sub .review-view {
  margin-bottom: 50px; }
  #content.sub .review-view thead th, #content.sub .review-view tbody td {
    text-align: left; }
  #content.sub .review-view .content td {
    height: 150px;
    vertical-align: top; }
  #content.sub .review-view .attach th {
    font-weight: normal; }
  #content.sub .review-view .attach td a {
    text-decoration: underline; }
  #content.sub .review-view .btn-area {
    float: right;
    margin-top: -17px; }
    #content.sub .review-view .btn-area p {
      text-align: right; }
#content.sub .review-write {
  margin-bottom: 50px; }
  #content.sub .review-write tbody td {
    text-align: left; }
    #content.sub .review-write tbody td textarea {
      width: 100%;
      min-height: 150px; }
  #content.sub .review-write tbody .rating td label {
    margin-right: 10px; }
    #content.sub .review-write tbody .rating td label .form-control {
      vertical-align: top; }
    #content.sub .review-write tbody .rating td label img {
      margin-top: 4px;
      vertical-align: top; }
  #content.sub .review-write tbody .title td label {
    width: 100%; }
  #content.sub .review-write .btn-area p {
    text-align: right; }
#content.sub .media-list {
  margin-bottom: 25px; }
  #content.sub .media-list tbody td {
    color: #999; }
    #content.sub .media-list tbody td.title {
      color: #777; }
  #content.sub .media-list .btn-area p {
    text-align: right; }
#content.sub .media-view {
  margin-bottom: 50px; }
  #content.sub .media-view thead th, #content.sub .media-view tbody td {
    text-align: left; }
  #content.sub .media-view .content td {
    height: 150px;
    border-bottom: 0;
    vertical-align: top; }
  #content.sub .media-view .more td {
    height: 90px;
    border-top: 0;
    vertical-align: top; }
    #content.sub .media-view .more td .btn-area p {
      text-align: center; }
  #content.sub .media-view > .btn-area {
    float: right;
    margin-top: -17px; }
    #content.sub .media-view > .btn-area p {
      text-align: right; }
#content.sub.review .page-header {
  padding-left: 20px;
  padding-right: 20px; }
  #content.sub.review .page-header .title {
    padding-bottom: 0;
    margin-bottom: 10px;
    font-weight: bold; }
  #content.sub.review .page-header p {
    text-align: center;
    color: #777; }
    #content.sub.review .page-header p.hr {
      margin-top: 25px;
      margin-bottom: 25px; }
#content.sub.review .search-area .form-group {
  text-align: right; }
#content.sub.about {
  background-color: #1b191a; }
  #content.sub.about .page-header {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px; }
    #content.sub.about .page-header .title {
      padding-top: 40px;
      padding-bottom: 20px;
      font-size: 40px;
      color: #fff; }
      #content.sub.about .page-header .title i {
        font-style: normal;
        color: #ffde16; }
    #content.sub.about .page-header hr {
      width: 40px;
      margin-top: 0;
      margin-bottom: 0; }
    #content.sub.about .page-header p {
      margin-top: 25px;
      color: #fff;
      text-align: center; }
  #content.sub.about .concept {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px; }
    #content.sub.about .concept h4 {
      margin-bottom: 30px;
      color: #fff;
      font-size: 16px;
      text-align: center; }
    #content.sub.about .concept p img {
      max-width: 300px;
      width: 100%;
      margin: 0 auto; }
  #content.sub.about .muse p {
    overflow: hidden;
    padding-left: 60px; }
    #content.sub.about .muse p img {
      float: right; }

/*# sourceMappingURL=style.css.map */
